* {
  box-sizing: border-box;
}

.content {
  margin: 0 auto;
  margin-top: 30px;
  width: 500px;
  min-height: 500px;

}

.gamebox {
  width: 452px;
  height: 452px;
  border: 1px solid black;
  
  display: flex;
  flex-flow: wrap;
}

.gamebox > div {
  width: 150px;
  height: 150px;
  border: 1px solid black;
}